.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    display: inline-block;
}

.trigger:hover {
    color: #1890ff;
}

.site-layout .site-layout-background {
    background: #fff;
}
@media only screen and (max-width: 2200px) {
    .name-header {
        margin-right: 7% !important;
    }
}
@media only screen and (max-width: 2000px) {
    .name-header {
        margin-right: 8% !important;
    }
}
@media only screen and (max-width: 1800px) {
    .name-header {
        margin-right: 10% !important;
    }
}
@media only screen and (max-width: 1600px) {
    .name-header {
        margin-right: 10% !important;
    }
}

@media only screen and (max-width: 1100px) {
    .name-header {
        margin-right: 15% !important;
    }
}
@media only screen and (max-width: 800px) {
    .name-header {
        margin-right: 20% !important;
    }
}
@media only screen and (max-width: 500px) {
    .name-header {
        display: none;
    }
}
